$primary-color: #68CB2B;
$secondary-color: #EFEFEF;
$disabled-form-control-color: #9ba7b2;
$form-control-error-color: #e3342f;
$red: #e3342f;

$screen-xs-max: 576px;
$screen-sm-max: 767px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

$default-border-radius: 2.5px;
$transition-default: .4s;
