@import 'variables';
@import 'mixins';

.reusable-form-control {
  input, textarea, select {
    border-radius: $default-border-radius!important;
    background-color: $secondary-color!important;
    border: none!important;
  
    &:focus {
        box-shadow: none!important;
    }
    &:disabled {
        color: $disabled-form-control-color;
    }
  }
  input, select {
    height: 45px!important;
  }
  
  textarea:active,
  input:active,
  textarea:focus,
  input:not([disabled]):focus,
  select:focus,
  button:focus,
  button:active,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline: 0!important;
  }
}

.reusable-form-group.form-group {
  margin-bottom: 15px!important;

  label {
    @include md {
        font-size: 13px;
    }
    
    &.required::after {
        content: ' *';
        color: $red;
    }
  }
  .form-error {
    color: $form-control-error-color;
  }
}


